* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/*nav bar*/
.container {
    display: flex;
    gap:200px;
    align-items: center;
    padding: 20px 20px;
    background-color: rgb(178, 199, 85);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 90px;
    margin-right: 10px;
    border-radius: 50%;
    height: 70px;
}

.logo h1 {
    color: #fff;
    font-size: 24px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}


nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-left: 100px;
}

nav ul li a:hover {
    background-color: #f1c40f;
    padding: 5px 10px;
    border-radius: 4px;
}

/*background image*/

.bg-set {
    position: relative;
    background-image: url('1610511709.jpg'); 
    background-size: cover;
    background-position: center;
    height: 80vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-sentence{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.inner-sentence h1 {
    font-size: 35px;
    color:rgb(252, 248, 6) ;
    margin-bottom: 20px;
}
.inner-sentence button{
    color: rgb(207, 252, 6);
    background-color: rgb(28, 36, 8);
    padding: 15px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
}
.inner-sentence button:hover{
    cursor: pointer;
    background-color:rgb(178, 199, 85) ;
    color: #fff;
}

/*list of fruits*/
.fruit-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    border: 2px solid red;
    margin-top: 20px;
}
.fruit-1 .apple-detail {
  flex: 1;
  width: 100%;
  height: auto;
}
.fruit-1 .apple-img img{
    height: 400px;
    width: 500px;
}















